*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body, .wrapper {
  height: 100%;
}

body,
ul,
ol,
p,
dl,
dd,
figure,
blockquote,
pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

.heade__text {
  text-align: center;
}